$sky_games_pink: #d8166f;
$sky_games_font: "Rimouski";

@font-face {
	font-family: "Rimouski";
	src: url("fonts/rimouski.otf") format("otf");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
	color: #d8166f;
}

* {
	font-family: $sky_games_font;
}
